.container {
  width: min(600px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-top: 20px;
}

form label {
  font-weight: bold;
  margin-right: 10px;
}

form input[type="checkbox"] {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
