<app-todo-create (newTodo)="newTodo($event)"></app-todo-create>

@if(defaultView) {
  @for (todo of todos; track todo.id) {
    @if (todo.completed === false) {
      <app-todo-item
        [todo]="todo"
        (update)="updateTodo($event)"
      ></app-todo-item>
    }
  }
  <button (click)="toggleView()"> Show completed todos </button>
} 

@else {
  @for (todo of todos; track todo.id) {
    @if (todo.completed === true) {
      <app-todo-item
        [todo]="todo"
        (update)="updateTodo($event)"
      ></app-todo-item>
    }
  }
  <button (click)="toggleView()"> Show unfinished business </button>
}

