<app-todo-create (newTodo)="newTodo($event)"></app-todo-create>

<div class="container">
  <div class="filter">
    <div><strong>Filter options:</strong></div>
    <div class="filter-item">
      <label for="isCompleted">IsCompleted:</label>
      <input
        type="checkbox"
        [(ngModel)]="isCompleted"
        name="isCompleted"
        (change)="toggleIsCompleted()"
      />
    </div>
  </div>
  <div>
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="errorMessage" class="alert alert-warning">
      <strong>Warning!</strong> {{ errorMessage | json }}
    </div>
  </div>
</div>

<app-todo-item
  *ngFor="let todo of filtered"
  [todo]="todo"
  (update)="updateTodo($event)"
></app-todo-item>
