:host {
  display: flex;
  box-sizing: border-box;

  flex-direction: column;
  gap: 0.5em;
  padding-top: 0.5em;
}

.todo-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.toggle-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 15px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: #0056b3;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.todo-item {
  border-bottom: 1px solid #ddd;
}

.todo-item:last-child {
  border-bottom: none;
}

