:host {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #818181;
  border-radius: 4px;
  padding: 0.3em;
}

span {
  flex: 1;
}

input {
  margin: 0 10px;
}

input:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}